<div class="container">
  <h1>Traduction trop fun !!!!</h1>
  <div class="container_form">
    <div class="container_input">
      <input type="text" [(ngModel)]="inputValue" (ngModelChange)="getInputValue(inputValue)" >
      <select [(ngModel)]="languageValue" (ngModelChange)="getLanguageValue(languageValue)" name="languages" id="language-select">
        <option value="Yoda">Yoda</option>
        <option value="Dothraki">Dothraki</option>
      </select>
    </div>
    <div class ="button" (click)="enregistrer()">
      <button>Traduire</button>
    </div>
  </div>
  <div class="response">
      <p>{{finalValue}}</p>
  </div>
</div>
