.container{
  text-align: center;
  font-family: Candara;

}

h1{
  color: lightseagreen;

}

.container_form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container_input{
  margin : 20px 0 ;
}

.container_input input ,.container_input select {
  margin :0 5px ;
}

.container_form button{
  border-radius: 20px;
  background-color: lightseagreen;
  color : white;
}
